.wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    animation: show_toast 1s ease forwards;
}

@keyframes show_toast {
    0% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(10%);
    }

    80%,
    100% {
        transform: translateX(0px);
    }
}

.wrapper.hide {
    animation: hide_toast 1s ease forwards;
}

@keyframes hide_toast {
    0% {
        transform: translateX(0px);
    }

    40% {
        transform: translateX(10%);
    }

    80%,
    100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}

.wrapper .toast {
    background: #fff;
    padding: 10px 8px 15px 15px;
    border-radius: 10px;
    border-left: 5px solid #2ecc71;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, .15);
    width: 280px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .toast.offline {
    border-color: #ccc;
}

.wrapper .content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.content .icon {
    color: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #2ecc71;
}

.content .icon svg {
    width: 25px;
    height: 25px;
}

.toast.offline .content .icon {
    background: #ccc;
}

.content .details {
    margin-left: 15px;
}

.details span {
    font-size: 20px;
    font-weight: 500;
}

.details p {
    color: #878787;
}

.toast .close-icon {
    color: #878787;
    cursor: pointer;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: #f2f2f2;
    transition: all 0.3s ease;
}

.content .close-icon svg {
    width: 25px;
    height: 25px;
}

.close-icon:hover {
    background: #efefef;
}

.poke-area {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.bg-poke {
    width: 100%;
}

@media (min-width: 500px) {
    .wrapper .toast {
        padding: 15px 8px 15px 15px;
        width: 350px;
        font-size: 16px;
    }

    .content .icon svg {
        width: 35px;
        height: 35px;
    }

    .content .close-icon svg {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 640px) {
    .poke-area {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .bg-poke {
        width: 19rem;
    }
}

@media (min-width: 740px) {
    .bg-poke {
        width: 20rem;
        /* tamanho normal */
    }

    .wrapper .toast {
        padding: 20px 15px 20px 20px;
        width: 430px;
        font-size: 16px;
    }

    .content .icon svg {
        width: 50px;
        height: 50px;
    }

    .content .close-icon svg {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 860px) {
    .bg-poke {
        width: 22rem;
    }
}

@media (min-width: 1024px) {
    .poke-area {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .bg-poke {
        width: 19rem;
    }
}

@media (min-width: 1100px) {
    .bg-poke {
        width: 20rem;
    }
}

@media (min-width: 1200px) {
    .bg-poke {
        width: 22rem;
        height: 100%;
    }
}

@media (min-width: 1350px) {
    .poke-area {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .bg-poke {
        width: 20rem;
    }
}

@media (min-width: 1700px) {
    .poke-area {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media (min-width: 2100px) {
    .poke-area {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}